/* You can add global styles to this file, and also import other style files */
.task-creation, .task-searching, .task-deletion {
    max-width: 400px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text {
    font-size: 16px;
    margin-top: 5px;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
}

select {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}